.capstone-project-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #0F0F0F;
}
.capstone-project-navbar-interactive {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  z-index: 1000;
  position: fixed;
  box-shadow: 0px 0px 10px 0px #51515a;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #0F0F0F;
}
.capstone-project-image {
  width: var(--dl-size-size-xxlarge);
  height: auto;
}
.capstone-project-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.capstone-project-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.capstone-project-link {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.capstone-project-link1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.capstone-project-text2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
}
.capstone-project-burger-menu {
  display: none;
}
.capstone-project-image1 {
  width: 200px;
  object-fit: cover;
  background-color: white;
}
.capstone-project-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.capstone-project-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.capstone-project-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.capstone-project-logo {
  height: 2rem;
}
.capstone-project-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.capstone-project-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.capstone-project-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.capstone-project-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.capstone-project-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.capstone-project-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.capstone-project-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(2, 2, 2, 0.81) 0.00%,rgba(2, 2, 2, 0.81) 0.00%),url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGdyb2Nlcnl8ZW58MHx8fHwxNzEyMTkxNDY1fDA&ixlib=rb-4.0.3&w=1500');
  border-bottom-width: 1px;
}
.capstone-project-hero {
  width: 100%;
  display: flex;
  opacity: 1;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.capstone-project-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.capstone-project-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.capstone-project-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.capstone-project-heading {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 64px;
}
.capstone-project-caption {
  color: rgb(255, 255, 255);
  align-self: flex-start;
}
.capstone-project-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.capstone-project-link3 {
  display: contents;
}
.capstone-project-get-started {
  display: flex;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.capstone-project-text4 {
  color: #0C100C;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.capstone-project-get-started1 {
  text-decoration: none;
  background-color: #2A2A2A;
}
.capstone-project-text5 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.capstone-project-highlight {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.capstone-project-avatars {
  width: 115px;
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.capstone-project-image2 {
  left: 0px;
  position: absolute;
}
.capstone-project-image3 {
  left: var(--dl-space-space-twounits);
  position: absolute;
  object-fit: cover;
}
.capstone-project-image4 {
  left: var(--dl-space-space-fourunits);
  position: absolute;
  object-fit: cover;
}
.capstone-project-caption1 {
  color: rgb(255, 255, 255);
}
.capstone-project-recipes {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.capstone-project-header1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.capstone-project-section1 {
  color: var(--dl-color-primary-500);
}
.capstone-project-heading1 {
  text-align: center;
}
.capstone-project-iframe {
  width: 1000px;
  height: 565px;
}
.capstone-project-footer {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.capstone-project-content1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.capstone-project-main-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.capstone-project-content2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.capstone-project-main1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.capstone-project-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.capstone-project-branding {
  width: var(--dl-size-size-xlarge);
  object-fit: cover;
}
.capstone-project-text6 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  max-width: 260px;
  font-family: "Poppins";
  line-height: 21px;
}
.capstone-project-socials {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.capstone-project-link4 {
  display: contents;
}
.capstone-project-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.capstone-project-copyright {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.capstone-project-text7 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 21px;
}
.capstone-project-subscribe {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.capstone-project-copyright1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.capstone-project-text8 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
@media(max-width: 991px) {
  .capstone-project-navbar-interactive {
    width: 100%;
  }
  .capstone-project-section {
    height: auto;
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .capstone-project-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .capstone-project-content {
    position: relative;
    align-items: center;
  }
  .capstone-project-main {
    align-items: center;
  }
  .capstone-project-heading {
    text-align: left;
  }
  .capstone-project-caption {
    text-align: left;
  }
  .capstone-project-buttons {
    width: 100%;
  }
  .capstone-project-get-started {
    flex: 1;
  }
  .capstone-project-get-started1 {
    flex: 1;
  }
  .capstone-project-highlight {
    width: 100%;
    flex-direction: column;
  }
  .capstone-project-recipes {
    gap: var(--dl-space-space-threeunits);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .capstone-project-footer {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .capstone-project-content1 {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .capstone-project-copyright {
    display: none;
  }
  .capstone-project-text7 {
    color: rgb(196, 196, 196);
    font-size: 14px;
    font-family: Poppins;
    line-height: 21px;
  }
  .capstone-project-copyright1 {
    display: flex;
  }
  .capstone-project-text8 {
    color: rgb(196, 196, 196);
    font-size: 14px;
    font-family: Poppins;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .capstone-project-navbar-interactive {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .capstone-project-image {
    width: var(--dl-size-size-xxlarge);
  }
  .capstone-project-desktop-menu {
    display: none;
  }
  .capstone-project-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .capstone-project-image1 {
    width: 60px;
    box-shadow: 0px 0px 0px 3px #ffffff;
    border-radius: var(--dl-radius-radius-round);
  }
  .capstone-project-mobile-menu {
    height: auto;
    background-color: #0F0F0F;
  }
  .capstone-project-logo {
    width: var(--dl-size-size-xxlarge);
    height: auto;
  }
  .capstone-project-icon {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .capstone-project-navlink {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .capstone-project-link2 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .capstone-project-text3 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .capstone-project-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .capstone-project-heading {
    font-size: 40px;
  }
  .capstone-project-caption {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .capstone-project-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .capstone-project-get-started1 {
    display: none;
  }
  .capstone-project-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .capstone-project-content2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .capstone-project-main1 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .capstone-project-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .capstone-project-image {
    width: var(--dl-size-size-xxlarge);
    height: auto;
  }
  .capstone-project-mobile-menu {
    padding: 16px;
  }
  .capstone-project-header {
    align-items: flex-start;
  }
  .capstone-project-heading {
    max-width: 280px;
  }
}
