
.recipe-container {
  border:solid;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.recipe-header{
  display: flex;
  flex:initial;
  height: 3em;
  text-align: center;
  border-bottom: solid;
  align-items: center;
  gap: 30px;
}

[class$="-dropdown"]{
  flex:initial;
  position: relative;
  display: inline-block;
  padding-left: 25px;
}

[class$="-dropbtn"]{
  border: none;
}


.store-dropdown-content{
  display: none;
  background-color: white;
  position:absolute;
  width: 90px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.store-dropdown-content a{
  color:black;
  text-align: center;
  padding: 15px 20px;
  display:block;
}

.price-dropdown-content{
  display: none;
  background-color: white;
  position:absolute;
  width: 90px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.price-dropdown-content a{
  color:black;
  text-align: center;
  padding: 15px 20px;
  display:block;
}

.type-dropdown-content{
  display: none;
  background-color: white;
  position:absolute;
  width: 90px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.type-dropdown-content a{
  color:black;
  text-align: center;
  padding: 15px 20px;
  display:block;
}

.show{
  display: block;
}


.recipe-grid{
  display:flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-item-button{
  margin: 15px;
  width: 400px;
  height: 400px;
  padding: 75px 75px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 12px;
}

.recipe-item-button:hover{
  background-color: rgb(194, 194, 194);
}



.recipe-footer{
  flex:initial;
  height: 3em;
  text-align: center;
  border-top: solid;
}

