.component1-container {
  display: flex;
  position: relative;
}
.component1-iframe {
  width: 1093px;
  height: 559px;
}
.component1-root-class-name {
  width: 100%;
}
.component1-root-class-name1 {
  top: 2px;
  flex: 1;
  left: 2px;
  position: static;
  align-self: flex-start;
}
