.app-component-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.app-component-navbar {
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #0F0F0F;
}
.app-component-branding-logo {
  width: var(--dl-size-size-xxlarge);
  box-sizing: content-box;
}
.app-component-nav-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.app-component-nav-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.app-component-link {
  text-decoration: none;
}
.app-component-link1 {
  text-decoration: none;
}
.app-component-link2 {
  text-decoration: none;
}
.app-component-link4 {
  display: contents;
}
.app-component-get-started {
  text-decoration: none;
}
.app-component-text {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.app-component-image {
  width: 100px;
  object-fit: cover;
}
.app-component-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.app-component-image1 {
  width: 100px;
  object-fit: cover;
}
.app-component-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.app-component-icon {
  width: 24px;
  height: 24px;
}
.app-component-nav-links1 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
.app-component-link5 {
  text-decoration: none;
}
.app-component-link6 {
  text-decoration: none;
}
.app-component-link7 {
  text-decoration: none;
}
.app-component-text1 {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.app-component-container3 {
  display: contents;
}
.app-component-background {
  width: 100%;
  height: 110px;
  display: flex;
  z-index: 10;
  position: fixed;
  max-width: 100%;
  align-self: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #0F0F0F;
}
.app-component-seperator {
  width: 100%;
  height: 110px;
  display: flex;
  z-index: 10;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #0F0F0F;
}
@media(max-width: 767px) {
  .app-component-navbar {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .app-component-branding-logo {
    width: var(--dl-size-size-xxlarge);
  }
  .app-component-nav-links {
    display: none;
  }
  .app-component-get-started {
    display: none;
  }
  .app-component-image {
    width: var(--dl-size-size-small);
    height: 100%;
  }
  .app-component-mobile-menu {
    display: none;
  }
  .app-component-branding {
    width: 100%;
  }
  .app-component-nav-links1 {
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .app-component-background {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .app-component-seperator {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
